.div {
    background-color: #aaaeb4;
    height: 100vh;
}

.title {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    color: rgb(32, 32, 32);
    margin: 0 auto;
    padding-right: 20px;
}