
      
    .title {
        font-size: 30px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        padding-left: 20px;
        color: rgb(32, 32, 32);
        margin: 0 auto;
        padding-right: 20px;
        color: rgb(102, 0, 51)
            }
  
    .div {
       background-color: #eff1f3;
       height: 100vh;
       margin: 0;
       padding: 0;
            }

    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 300px;
        padding: 20px;
        margin: 0 auto;
        border-radius: 25px;
        background-color: #0D0C0C;
        color: #aaaeb4;
        margin-top: 20px;
        }

.input {
    background-color: #dee5f0;
    /*color: rgb(32, 32, 32);*/
    width: 100%;
    margin: 0 auto;
    border-radius: 50px;
    height: 40px;
}

.btn {
    border: none;
    padding: 15px;
    margin-top: 10px;
    border-radius: 20px;
    color: rgb(32, 32, 32);
    font-size: 18px;
    background-color: rgb(102, 0, 51);
}

.btn:hover {
    background-color: rgb(102, 0, 69);
}